body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 1094px;
}


.card {
  width: 266px;
  height: 200px;
  background-image: url('/src/images/cover.jpg');
  background-size: cover;
}

@media (max-width: 800px) {
  .card {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 600px) {

  .card {
    width: 133px;
    height: 100px;
  }
}